src/main/mule/mulesoft-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45b6f0ee-a62a-4dff-bae5-f5b101f6d189" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-ci-cdFlow" doc:id="3f7c4d6c-cd96-4597-9826-5015b28023ea" >
		<http:listener doc:name="Listener" doc:id="b1eac1f2-4341-4242-bbd7-dc81b052c4a6" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#[output application/json --- {"message": "Hello World"}]' doc:name="Set Payload" doc:id="1cf4326e-b2ca-4cee-b36b-004f676edf94" />
	</flow>
</mule>
